body {
  font-family: "Circe";
}
.banner_slider img,
.news_img img {
  width: 100%;
}
.common_title {
  padding-top: 0;
  padding-bottom: 10px;
  font-size: 18px;
  color: #363634;
  font-weight: 700;
  line-height: 30px;
}
.common_description {
  color: #363634;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 24px;
}
.btn_common {
  border-radius: 8px;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}
/* Marking */
.marking {
  /* background-color: #0080ff87; */
  padding: 30px 0px;
}
.marking_title {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  margin-top: 47px;
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}
.marking_subtitle {
  margin: auto;
  margin-bottom: 18px;
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  width: min-content;
}
.marking_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.marking_block {
  width: 121px;
  height: 150px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 8px;
  position: relative;
}
.marking_block:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.st0:hover {
  fill: #0482fff5;
}
.marking_inblock {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  position: relative;
}
.marking_icon {
  text-align: center;
  margin: 0 auto;
}
.marking_icon svg {
  width: 40px;
  height: 40px;
}
.marking_category_title {
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin-top: 6px;
  text-align: center;
}
.marking_category_subtitle {
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #63666a;
  position: absolute;
  bottom: 15px;
  left: 32%;
}
.left_title {
  justify-content: start;
}
/* Marking End */

/* -----News------- */
.news {
  background-color: #f7f7f7;
  padding: 15px 0px;
}
.wrap_news {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.margin_right {
  width: 33.33%;
}
.multiple-items .margin_right {
  margin-right: 20px;
}
.marking_title,
.news_links {
  padding-bottom: 20px;
}
.news_links ul {
  display: flex;
  align-items: center;
  justify-content: right;
}
.news_links ul li {
  margin-right: 30px;
  font-size: 15px;
  font-weight: normal;
  color: rgb(54, 54, 52);
}
.news_links ul li:hover {
  border-bottom: 1.5px solid rgb(54, 54, 52);
}
.news_text {
  padding: 20px;
}
.news_text p {
  padding-bottom: 20px;
}
.news_text h3 {
  padding-bottom: 50px;
}
.margin_zero {
  margin: 0px !important;
}
.slick-list {
  margin-right: -20px;
}
.slick-prev:before,
.slick-next:before {
  color: #363634;
}
.multiple-items img {
  object-fit: contain;
}
.btn_news {
  padding: 20px 0px 20px 20px;
}
.btn_news:hover {
  background-color: #0080ff87;
}
/* -----News End------- */

/*---------header--------------------*/

header .header_head {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px;
  border-bottom: 1px solid #ccc;
  color: #61615f;
  align-items: center;
  font-family: "Circe";
  font-style: normal;
}

.header_numbers {
  font-size: 15px;
  font-weight: bold;
}
.header_numbers {
  display: flex;
  align-items: center;
}
.header_numbers a {
  margin-left: 10px;
}

.header_icons img {
  margin-left: 15px;
}
.menu__toggle {
  display: none;
}
.border img {
  border-radius: 38px;
  border: 1px solid #ddd;
  padding: 16px;
  margin-left: 15px;
}
/*----menu-box----*/
.hamburger-menu {
  display: none;
}

.menu__toggle {
  opacity: 0;
  display: none;
}
.input {
  display: none;
  opacity: 0;
}

.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  position: fixed;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;

  width: 250px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;

  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
.menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

/*-----menu_box---------*/

/*------nav-----*/

nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-family: "Circe";
  font-style: normal;
}

.menu {
  display: flex;
}
.menu li {
  padding: 8px;
  position: relative;
  color: #000;
  margin-right: 20px;
}
.menu li ul li:hover a {
  border-bottom: 1px solid #000;
}
/*nav {
  display: none;
}
*/
li:hover > ul {
  max-height: 500px;
}

.menu h3:hover {
  border-bottom: 2px solid #008ab5;
}

li ul {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: #fff;
  overflow: hidden;
  max-height: 0px;
}

.search-box {
  border: 1px solid #ddd;
  height: 40px;
  border-radius: 38px;
  padding: 12px 13px;
}

.search-box:hover .search-txt {
  width: 150px;
  padding: 0 6px;
  float: right;
}
.search-box:hover .search-btn {
  float: left;
}

.search-btn {
  width: 40%;
  height: 40%;
  display: flex;
  border-radius: 50%;
  float: right;
}

input.search-txt {
  border: none;
  outline: none;
  background: none;
  transition: 0.4s;
  line-height: 40px;
  margin-bottom: 20px;
  width: 0px;
  float: left;
}
.menu h3 {
  font-size: 14px;
}

/*----------header---------------------*/

/*------------footer-------------------*/

footer {
  padding: 30px 0px;
  background-color: #63666a;
  font-family: "Circe";
  font-style: normal;
}
.footer_logo {
  padding: 30px 30px;
}
.footer_wrap {
  display: flex;
  flex-flow: wrap;
}
.footer_block {
  width: 25%;
  padding-right: 35px;
}
.footer_ul h2 {
  margin-bottom: 20 px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.footer_ul li {
  margin-bottom: 8px;
  color: #fff;
}
span {
  color: yellow;
}

.footer_item li {
  padding-right: 10px;
}
.footer_item_ul {
  text-align: center;
}
.footer_ul li:hover a {
  text-decoration: underline;
}

/*---------------footer-------------------*/

/*-----------media-----------------------*/

@media screen and (max-width: 992px) {
  .header_icons {
    display: none;
  }

  .search-box {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }
  .border img {
    border-radius: 38px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 778px) {
  .footer_block {
    width: 33%;
  }
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    align-items: center;
  }
  .header_numbers {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
  }
}

@media screen and (max-width: 576px) {
  .header_numbers {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .footer_block {
    width: 50%;
    margin-top: 25px;
  }
}
@media screen and (max-width: 414px) {
  .hamburger-menu {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .header_numbers {
    display: none;
    width: 50%;
    float: right;
  }

  .footer_block {
    width: 100%;
  }
  .footer_item_ul {
    text-align: start;
  }
}
@media screen and (max-width: 576px) {
  .news_text h3 {
    font-size: 14px;
  }
  .news_text {
    padding: 0px;
  }
  .btn_news {
    padding: 0px;
  }
  .news_slider {
    margin: 0 auto;
    width: 300px;
  }
}

/*-----------media------------------------*/
#topcontrol {
  z-index: 9999;
}
#topcontrol {
  margin-bottom: 70px;
}
